*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  max-width: 1140px;
  margin-bottom: 16px;
}

.result {
  display: flex;
  flex-direction: column;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
}

.content__details {
  width: 100%;
  min-width: 399px;
}

.title {
  margin-bottom: 26px;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow: auto;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:active {
  background: #545050;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-thumbnail {
  width: 175px;
  object-fit: contain;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox[type="checkbox"]:checked
  + .search-form__pseudo-checkbox::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  padding: 2px;
  background-color: #fff;
}

.search-form__label-text {
  font-weight: 400;
  appearance: none;
}

.search-form__textfield {
  width: 225px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  padding: 2.5px 14px 2.5px 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  background: none;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background: none;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  padding: 6px 73px;
}

.more-button {
  width: 100%;
  padding: 6px 144px;
  white-space: nowrap;
}

.search-form__textfield:focus {
  outline: none;
}
